<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="APPLICATION" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <customFields>{"application":"idporten-user-service","logtype":"application"}</customFields>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <customFields>{"application":"idporten-user-service","logtype":"application"}</customFields>
        </encoder>
    </appender>

    <logger name="no.idporten" level="INFO" additivity="false">
        <appender-ref ref="APPLICATION"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
