<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="accessJsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>
                        {
                        "@version" : "1",
                        "@type" : "access",
                        "logtype": "tomcat-access",
                        "application": "idporten-user-service",
                        "x_forwarded_for": "%header{X-Forwarded-For}",
                        "client_host" : "%clientHost",
                        "remote_user" : "%user",
                        "request_method" : "%requestMethod",
                        "request_url" : "%requestURL",
                        "request_uri" : "%requestURI",
                        "status_code" : "#asLong{%statusCode}" ,
                        "bytes_sent" : "#asLong{%bytesSent}",
                        "elapsed_time" : "#asLong{%elapsedTime}",
                        "message" : "%requestURL %statusCode",
                        "user_agent": "%i{User-Agent}",
                        "referer": "%header{Referer}",
                        "traceparent": "%header{traceparent}",
                        "traceid": "%header{X-B3-TraceId}",
                        "spanid": "%header{X-B3-SpanId}",
                        "spanid_parent": "%header{X-B3-ParentSpanId}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <appender-ref ref="accessJsonConsoleAppender" />
</configuration>
